
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Poppins';
    color: #212121;
    margin: 0 auto;
    display: flex;
}

body section {
    max-width: 1920px;
}


.button {
    background-color: #37806B;
    padding: 12px 28px;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-radius: 20px 0 20px 0;
    border: 0;
    margin-top: 22px;
}

.upper-text {
    color: #646464;
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.title {
    font-size: 48px;
    line-height: 78px;
    font-weight: 600;
    text-align: left;
    color: #212121;
    margin-bottom: 22px;
}

.main-text-30 {
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 28px;
    color: #646464;
}

.main-text-28{
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #646464;
    letter-spacing: -0.01em;
}               /*  создать тэг */

.main {
    position: relative; /* посмотреть для чего эти свойства */
    overflow: hidden;
}




.header {
    display: flex;
    align-items: center;
    padding: 40px 125px;
}

.logo img{
    width: 151px;
    height: auto;
}

.menu {
    display: flex; /* чтобы элементы меню распологались в ряд/гибко и не в столбик */
}

.menu-list {
    display: flex;
    margin-left: 384px;
}

.menu-item {
    margin-right: 20px; /* отступы между пунктами меню */
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.sign-up-button {
    padding: 5px 19px;
    margin-left: 44px;
    border-radius: 15px 0px 15px 0px;
    background-color: #CAA892;
    border: 0;
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}




.main-content-1 {
    display: flex;
    align-items: center;
    padding: 50px 125px;
    flex-direction: row-reverse;
}

.image1 {
    width: 601px;
    height: auto;
    margin-left: 85px;
}

.main-info {
    max-width: 606px;
}

.main-title {
    font-size: 72px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 28px;
    line-height: 78px;
    color: #212121;
}




.main-content-2 {
    padding: 50px 125px;
}

.titles {
    margin-bottom: 50px;
}

.blocks {
    display: flex;
    padding: 50px 125px;
}

.block {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px 21px 35px 37px;
    border-radius: 60px 0px 60px 0px;
    box-shadow: 0px 8px 20px 0px #00000024;
}

.icon {
    height: 40px;
    width: 40px;
}

.blocks-info {
    align-items: center;
    margin-left: 20px;
    padding: 0;
    max-width: 307px;
}

.block-heading {
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.block-2 {
    background-color: #CAA892;
    display: flex;
    justify-content: center;
    padding: 40px 21px 35px 37px;
    border-radius: 60px 0px 60px 0px;
    box-shadow: 0px 8px 20px 0px #00000024;
    margin: 0 37px;
    color: white;
}

.block-2 .main-text-28 {
    color: white;
}




.main-content-3 {
    padding: 50px 125px;
    display: flex;
}

.main-content-3 .title {
    line-height: 57px;    
}

.image2 {
    width: 601px;
    height: auto;
    margin-right: 132px;
}

.main-info-3 {
    max-width: 544px;
    margin-top: 90px;
}




.main-content-4 {
    padding: 50px 125px;
    display: flex;
    flex-direction: row-reverse;
}

.main-info-4 {
    margin-top: 155px;
    max-width: 528px;
}

.twenty {
    width: 267px;
    margin-bottom: 30px;
}

.image3 {
    width: 601px;
    margin-left: 150px;
}




.main-content-5 {
    padding: 50px 125px;
    background-color: #F8F8F8;
    max-width: 1920px;
}

.statistics {
    display: flex;
    align-items: center;
}

.statistics-block-upper {
    margin: 87px 0 96px 0;
    max-width: 185px;
    max-height: 182px;
    background-color: white;
    border-radius: 40px 0px 40px 0px;
    padding: 50px;
}

.statistics-block-lower {
    margin-top: 183px;
    max-width: 185px;
    max-height: 182px;
    background-color: white;
    border-radius: 40px 0px 40px 0px;
    padding: 50px;
}

.st-block-number {
    font-family: 'OpenSans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.st-block-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #646464;
}

.statistics img {
    max-width: 218px;
    max-height: 95px;
    margin-top: 183px;
}

div#error {
    padding: 40px 50px;
}

.main-content-5 .title {
    text-align: center;
    max-width: 817px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}